:host{
  height: 100%;
  width: 100%;
}

.container {
  margin: 0;
  padding: 0;
  min-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .header {
    height: 40px;
    color: #ffffff;
    background: #002f5e;
    width: 100%;
  }

  .content {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: calc(100% - 40px);

    .menu-left {
      display: flex;
      width: 80px;
      height: 100%;
      position: relative;
    }

    .panel {
      display: flex;
      background: #ccc;
      min-width: calc(100% - 80px);
      height: 100%;
    }
  }
}
