<div class="menu">
  <div class="menu-item">Item</div>
  <div class="menu-item">Item</div>
  <div class="menu-item">Item</div>
  <div class="menu-item">Item</div>
  <div class="menu-item">Item</div>
  <div class="menu-item">Item</div>
  <div class="menu-item">Item</div>
  <div class="menu-item">Item</div>
  <div class="menu-item">Item</div>
  <div class="menu-item">Item</div>
  <div class="menu-item">Item</div>
  <div class="menu-item">Item</div>
  <div class="menu-item">Item</div>
  <div class="menu-item">Item</div>
</div>