<div class="container-confirmation"></div>

<div class="content">
  <div *ngIf="displayUsers" class="title">Please select the users you want</div>
  <div *ngIf="displayLists" class="title">Please select the lists you want</div>

  <div class="array">
    <div *ngFor="let item of array" class="item-array" (click)="toggle(item)">
      <div *ngIf="displayUsers" class="item-title">{{item.username}}</div>
      <div *ngIf="displayLists" class="item-title">{{item.name}}</div>
      <i *ngIf="!item.selected" class="fa fa-square" [class.grey]="!item.selected"></i>
      <i *ngIf="item.selected" class="fa fa-check-square" [class.green]="item.selected"></i>
    </div>
  </div>

  <div class="btns">
    <div class="btn" (click)="submit()">Submit</div>
    <div class="btn" (click)="cancel()">Cancel</div>
  </div>
</div>
