:host {
  height: 100%;
  width: 100%;
}

.container {
  margin: 0;
  padding: 0;
  min-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .header {
    height: 40px;
    color: #ffffff;
    background: #002f5e;
    width: 100%;
  }

  .content {
    display: flex;
    flex-direction: row;
    background: #cccccc;
    width: 100%;
    min-height: calc(100% - 40px);

    .panel {
      display: flex;
      background: #ffffff;
      margin: auto;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      padding: 20px 20px;


      .inputs {
        display: flex;
        margin: auto;
        flex-direction: column;

        .button-reset {
          border: 0.5px solid #002f5e;
          border-radius: 5px;
          display: flex;
          cursor: pointer;

          &:hover {
            background: #002f5e;
            color: #ffffff;
          }

          p {
            margin: auto;
          }
        }

        .password-input {
          display: flex;
          margin-bottom: 20px;

          &:last-of-type {
            margin: 0;
          }

          .password-input-label {
            font-weight: bolder;
            width: 140px;
          }
        }
      }
    }
  }
}
