<div class="container">
  <div class="header">
    <header [logoutStatus]="false"></header>
  </div>
  <div class="content">
    <div class="panel">
      <div *ngIf="section === 0 && !invalidToken" class="inputs">
        <div class="password-input">
          <div class="password-input-label">Password:</div>
          <input [(ngModel)]="password" type="password">
        </div>
        <div class="password-input">
          <div class="password-input-label">Retype Password:</div>
          <input [(ngModel)]="confirmedPassword" type="password">
        </div>
        <div (click)="confirmPassword()" class="button-reset">
          <p>Confirm password</p>
        </div>
      </div>

      <div class="invalid-token" *ngIf="invalidToken">
        Invalid URL
      </div>


      <div class="column">
        <div class="invalid-token" *ngIf="confirmedToken">
          Your account has been successfully confirmed!
        </div>

        <div (click)="navigateToLogin()" class="go-login" *ngIf="confirmedToken">
          Go to login
        </div>
      </div>
    </div>
  </div>
</div>