<div class="container-header">

  <p>
    Universitatea Babes Bolyai Cluj-Napoca
  </p>

  <div *ngIf="logoutStatus" class="logout">

    <div class="notification-container">
      <p (click)="navigateTo('profile')">{{user.email}} </p>
    </div>

    <div class="notification-container">
      <i class="fa fa-bell" (click)="navigateTo('notifications')"></i>
      <span *ngIf="numberOfNotifications" class="number">{{numberOfNotifications}}</span>
    </div>

    <div class="logout-button" (click)="logout()">
      <i class="fa fa-sign-out-alt"></i>
      <p>Logout</p>
    </div>

  </div>
</div>
