:host {
  height: 100%;
  width: 100%;
}

.container-header {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 0 20px;
  position: relative;

  p {
    margin: auto;
  }

  .logout {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;

    .notification-container {
      display: flex;
      margin-right: 10px;
      position: relative;

      .number {
        position: absolute;
        background: red;
        padding: 0 2px;
        font-size: 12px;
        left: 0;
        top: 0;
      }

      i {
        font-size: 25px;
        margin-right: 20px;
      }
    }


    .logout-button {
      display: flex;

      i {
        font-size: 25px;
      }

      & > * {
        margin: auto 2px;
      }
    }


  }
}
