<div class="container">
    <div class="bar-top">
        <title-bar [title]="title" [button]="button" [item]="list?.name"></title-bar>
    </div>
    <div class="content">
        <div class="emails-inbox">
            <div class="list-header">
                <div class="index">
                    <p>Nr.</p>
                </div>
                <div class="subject">
                    <p>Username</p>
                </div>
                <div class="content-email">
                    <p>Email</p>
                </div>
                <div class="content-email">
                    <p>Role</p>
                </div>
                <div class="actions">
                    <p>Actions</p>
                </div>
            </div>
            <div class="email-items-overflow">
                <div class="email-items">
                    <div class="email-item" [class.even]="i%2!=0" *ngFor="let user of users; let i = index">
                        <div (click)="navigateToUser(user)" class="index" title="{{i}}"><p>{{i}}</p></div>
                        <div (click)="navigateToUser(user)" class="subject" title="{{user.username}}">
                            <p>{{user.username}}</p></div>
                        <div (click)="navigateToUser(user)" class="content-email" title="{{user.email}}">
                            <p>{{user.email}}</p></div>
                        <div (click)="navigateToUser(user)" class="content-email" title="{{user.role}}">
                            <p>{{user.role}}</p></div>
                        <div class="actions" title="Delete this user">
                            <i (click)="deleteUser(user)" class="fa fa-trash"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
