<div class="widget">
  <div class="name">
    <div class="actions">
      <i class="fa fa-pen" (click)="edit()"></i>
      <i class="fa fa-trash" (click)="emitDelete()"></i>
    </div>
    <p title="{{list?.name}}">{{list?.name}}</p>
  </div>
  <div *ngIf="list?.description" class="description" title="'{{list?.description}}'"><p>{{list?.description}}</p></div>
  <div class="emails" [class.has-description]="list?.description">
    <div class="email" *ngFor="let email of list?.emails">
      <p title="{{email}}">{{email}}</p>
    </div>
  </div>
</div>
