:host {
  width: 100%;
}

.widget {
  border-radius: 5px;
  background: #cccccc;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 0.5px solid #002f5e;

  &:hover .name .actions {
    display: block;
  }

  .name {
    width: 100%;
    font-size: 20px;
    font-weight: bolder;
    background: #002f5e;
    color: #ffffff;
    display: flex;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    position: relative;
    padding: 0 50px 0 10px;

    p {
      margin: auto;
      cursor: pointer;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .actions {
      border-radius: 5px;
      display: none;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;

      i {
        color: #ffffff;
        padding: 5px;
      }
    }
  }

  .description {
    padding: 10px;
    width: calc(100% - 2px);
    background: #ffffff;
    display: flex;
    text-align: center;

    p {
      margin: auto;
      text-overflow: ellipsis;
      overflow: hidden;
    }

  }

  .emails {
    height: calc(100% - 31px);
    padding: 10px;
    width: calc(100% - 2px);
    background: #ffffff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    display: flex;
    flex-direction: row;
    font-size: 13px;
    flex-wrap: wrap;

    .email {
      border: 0.5px solid #002f5e;
      max-width: calc(50% - 10px);
      margin: 2px 5px;
      border-radius: 5px;
      display: flex;
      padding: 2px 4px;
      flex: 1 0 50%;
      box-sizing: border-box;

      p {
        text-align: center;
        margin: auto auto;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

    }
  }
}
