<div class="container">
  <div class="bar-top">
    <title-bar [title]="title" [button]="button"></title-bar>
  </div>
  <div class="content">

    <div class="element">
      <div class="label">To:</div>

      <div class="to-items" *ngIf="toElements.length">
        <div class="item" *ngFor="let to of toElements; let i = index">
          <p>{{to}}</p>
          <i class="fa fa-times" (click)="removeEmailFromTo(to)" *ngIf="title !== sectionTitle.ViewEmail"></i>
        </div>
      </div>

      <div class="wrapper-input">
        <input [disabled]="title === sectionTitle.ViewEmail" (focusout)="toggleShowToAddButton()"
               (focus)="toggleShowToAddButton()" (blur)="addToElement()"
               (keyup.enter)="addToElement()" [(ngModel)]="to" type="text">
        <!--        <div class="suggestion-list"></div>-->
      </div>

      <div *ngIf="showToAddButton" (click)="addToElement()" class="button">
        <i class="fa fa-plus"></i>
      </div>
    </div>

    <div class="element">
      <div class="label">Subject:</div>
      <input [disabled]="title === sectionTitle.ViewEmail" [(ngModel)]="email.subject" type="text">
    </div>

    <div class="element-textarea">
      <div class="label">Content:</div>

      <div class="element-wrapper">
        <div class="element-content">
          <textarea [disabled]="title === sectionTitle.ViewEmail" rows="10" [(ngModel)]="email.content"
                    type="text"></textarea>
        </div>
      </div>
    </div>

    <div *ngIf="title !== sectionTitle.ViewEmail"  class="element">
      <div class="label">Attachments:</div>
      <input (input)="addAttachement()" type="file">
    </div>
    <div class="btns">
      <div class="btn" (click)="sendEmail()" *ngIf="title !== sectionTitle.ViewEmail">Send Email</div>
      <div class="btn" (click)="cancel()">Cancel</div>
    </div>

  </div>
</div>
