<div class="container">
  <div class="bar-top">
    <title-bar [title]="title" [button]="button" [item]="list?.name"></title-bar>
  </div>
  <div class="content">

    <!-- List name input-->
    <div class="element" [class.error]="nameError">
      <div class="label">Name:</div>
      <input (keydown)="toggleErrorName()" placeholder="Insert your list name" [(ngModel)]="list.name" type="text">
    </div>

    <!-- List description input-->
    <div class="element">
      <div class="label">Description:</div>
      <input [(ngModel)]="list.description" type="text" placeholder="What description do you want for your list?">
    </div>

    <!-- List emails input-->
    <div class="element" [class.error]="emailsListError">
      <div class="label">Email:</div>
      <input (keydown)="toggleEmailListError()" (focus)="toggleShowAddButton()" (focusout)="toggleShowAddButton()"
             [(ngModel)]="email" type="text"
             placeholder="You can insert email from here"
             (keyup.enter)="addEmailToList()">
      <div *ngIf="showAddButton" (click)="addEmailToList()" class="button">
        <i class="fa fa-plus"></i>
      </div>
    </div>

    <div class="element list" [class.error]="emailsListError">
      <div class="label">Current emails:</div>
      <div *ngIf="!list.emails.length" class="empty-list"> You have no email entered yet :)</div>
      <div class="wrapper" *ngIf="list.emails.length">
        <div class="emails-list">
          <div class="email-list-item " *ngFor="let email of list.emails; let i = index">
            <div class="item">
              <p>{{email}}</p>
              <i class="fa fa-times" (click)="removeEmailFromList(email)"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Action buttons -->
    <div class="btns">
      <div class="btn" (click)="saveList()" *ngIf="title === 'Create List'">Create List</div>
      <div class="btn" (click)="updateList()" *ngIf="title !== 'Create List'">Update List</div>
      <div class="btn" (click)="cancel()">Cancel</div>
    </div>
  </div>
</div>
