<div class="container">
  <div class="bar-top">
    <title-bar [title]="title" [button]="button"></title-bar>
  </div>
  <div class="content">


    <!-- List name input-->
    <div class="element">
      <div class="label">Name:</div>
      <input placeholder="Insert your list name" [(ngModel)]="listName" type="text">
    </div>

    <!-- List description input-->
    <div class="element">
      <div class="label">Description:</div>
      <input [(ngModel)]="description" type="text" placeholder="What description do you want for your list?">
    </div>

    <!-- List emails input-->
    <div class="element">
      <div class="label">Email:</div>
      <input (focus)="toggleShowAddButton()" (focusout)="toggleShowAddButton()" [(ngModel)]="email" type="text"
             placeholder="You can insert email from here"
             (keyup.enter)="addEmailToList()">
      <div *ngIf="showAddButton" (click)="addEmailToList()" class="button">
        <i class="fa fa-plus"></i>
      </div>
    </div>

    <div class="element list">
      <div class="label">Current emails:</div>
      <div *ngIf="!list.emails.length" class="empty-list"> You have no email entered yet :)</div>
      <div class="list">
        <ul *ngIf="list.emails.length" class="emails-list">
          <li *ngFor="let email of list.emails; let i = index">
            <div class="title">{{email}}</div>
            <div class="btn delete" (click)="removeEmailFromList(email)"><i class="fa fa-trash"></i></div>
          </li>
        </ul>
      </div>
    </div>

    <!-- Action buttons -->
    <div class="btns">
      <div class="btn" (click)="saveList()">Create List</div>
      <div class="btn">Cancel</div>
    </div>
  </div>
  <!--    <div class="right-side">-->
  <!--
  <!--    </div>-->
</div>
