<div class="container">
  <div class="row-line">
    <title-bar [title]="title" [button]="button"></title-bar>
  </div>
  <div class="content">
    <div class="container">
      <div class="left-side">
        <div class="input-item">
          <div class="label">List name</div>
          <input [(ngModel)]="listName" type="text" placeholder="Your list name">
        </div>
        <div class="input-item">
          <div class="label">List email</div>
          <input [(ngModel)]="email" type="text" placeholder="Insert email" (focus)="toggleSearchList()"
            (blur)="toggleSearchList()" (keyup.enter)="addEmailToList()">
        </div>
        <div class="input-item">
          <div class="mybutton" (click)="saveList()">Create List</div>
          <div class="mybutton">Cancel</div>
        </div>
      </div>
      <div class="right-side">
        <div *ngIf="!list.emails.length" class=""> No emails...</div>
        <ul *ngIf="list.emails.length" class="emails-list">
          <li *ngFor="let email of list.emails; let i = index">
            <div class="title">{{email}}</div>
            <div class="delete" (click)="removeEmailFromList(email)"><i class="fa fa-trash"></i></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>